
@{
    ViewBag.Title = "Index";
    if (ViewBag.Tipo == "USER")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdm.cshtml";
    }
}

<center><h2>Informações Gerais</h2></center><br />


<div class="col-sm-12 offset-2">
    <form>
        <div class="form-group row">
            <label for="inputNome" class="col-sm-2 col-form-label">Nome Completo:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputNome" placeholder="Nome Completo">
            </div>
        </div>

        <div class="form-group row">
            <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="telefone" placeholder="Telefone">
            </div>
        </div>

        <div class="form-group row">
            <label for="celular" class="col-sm-2 col-form-label">Celular</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="celular" placeholder="Celular">
            </div>
        </div>

        <div class="form-group row">
            <label for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Email" placeholder="Email">
            </div>
        </div>

        <div class="form-group row">
            <label for="apto" class="col-sm-2 col-form-label">Apartamento</label>
            <div class="col-sm-4">
                <label for="apto" class="col-sm-2 col-form-label">405</label>
            </div>
        </div>


        <div class="form-group row">
            <label for="oldPass" class="col-sm-2 col-form-label">Senha Antiga</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="oldPass" placeholder="Senha antiga">
            </div>
        </div>


        <div class="form-group row">
            <label for="newPass" class="col-sm-2 col-form-label">Nova senha</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="newPass" placeholder="Nova senha">
            </div>
        </div>

        <div class="form-group row">
            <label for="confirmPass" class="col-sm-2 col-form-label">Corfirmar a senha</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="confirmPass" placeholder="Confirmar senha">
            </div>
        </div>

        <div class="form-group row">
            <label for="CPF" class="col-sm-2 col-form-label">CPF</label>
            <div class="col-sm-6">
                <label for="cpf" class="col-sm-4 col-form-label">016.587.980-74</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>


            <div class="form-group row">
                <div class="col-sm-1">
                    <button type="reset" class="btn btn-primary">Apagar</button>
                </div>
            </div>
        </div>
    </form>
</div>