@model Gcon.Website.FilterConfig

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Você não tem permissão para acessar esta página!</h2>
<a href="~/">Retornar a página inicial.</a>

