
@{
    ViewBag.Title = recursos.Mural;
}

<asp:label>@recursos.AvisosGerais:</asp:label>
<hr class="mt-2">
<div class="d-flex flex-column-reverse">
    <div class=" d-flex flex-column">
        <div class="card-columns">
            <div class="card">
                <div class="card-header">
                    <asp:Label>@recursos.ProximasReunioes:</asp:Label>
                </div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, legimus graecis vel no, te sed error volutpat deterruisset,
                        et eos amet posse oporteat. Ne purto pertinacia incorrupte vix, quo laoreet verterem omittantur cu.
                        Modo discere minimum usu cu, omnium omittantur in nec. Ne quo probo habemus, elit veri viderer eam cu,
                        est in nihil cetero. Nonumy delectus vivendum in pro, alia cibo voluptatibus nam ex. Pro oratio blandit
                        signiferumque no. Te cum clita nominati signiferumque, in ferri pericula sea.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <asp:Label>@recursos.ResultadoDeVotacoes:</asp:Label>
                </div>
                <div class="card-body">
                    <p>
                        Eu vulputate voluptaria nec, at mea mutat choro putent, ius splendide gloriatur sententiae no.
                        Noster repudiandae deterruisset an sit, mel in altera aliquip partiendo. Duo an laoreet percipit mnesarchum,
                        congue posidonium mel ad. Vix dolor deseruisse comprehensam ad, ei ius debitis convenire. An natum postea per,
                        an his lorem aperiam, qui ea zril detracto rationibus.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class=" d-flex flex-column">
        <div class="card-columns">
            <div class="card">
                <div class="card-header">
                    <asp:Label>Aviso 1</asp:Label>
                </div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, legimus graecis vel no, te sed error volutpat deterruisset,
                        et eos amet posse oporteat. Ne purto pertinacia incorrupte vix, quo laoreet verterem omittantur cu.
                        Modo discere minimum usu cu, omnium omittantur in nec. Ne quo probo habemus, elit veri viderer eam cu,
                        est in nihil cetero. Nonumy delectus vivendum in pro, alia cibo voluptatibus nam ex. Pro oratio blandit
                        signiferumque no. Te cum clita nominati signiferumque, in ferri pericula sea.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <asp:Label>Aviso 2</asp:Label>
                </div>
                <div class="card-body">
                    <p>
                        Eu vulputate voluptaria nec, at mea mutat choro putent, ius splendide gloriatur sententiae no.
                        Noster repudiandae deterruisset an sit, mel in altera aliquip partiendo. Duo an laoreet percipit mnesarchum,
                        congue posidonium mel ad. Vix dolor deseruisse comprehensam ad, ei ius debitis convenire. An natum postea per,
                        an his lorem aperiam, qui ea zril detracto rationibus.
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>
